@import "./variables";
@import "./mixins";

/*  ---------heading font options------------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: @font-familyC;
}

h1,
.title,
.subtitle {
  font-family: @font-familyL;
  color: @color-blue;
  font-size: 1.2rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}


/*  ---------heading colors------------------------ */
h1 {
  color: @color-blue;
}

h2 {
  color:grey;
}

h3 {
  color:grey;
}

h4 {
  color: @color-blue;
}

/*  ---------heading spacing----------------------- */

h1,
.title,
.subtitle {
    padding-left: 1rem;
    margin: 0;
}

h4 {
  text-align: left;
  margin: 0 0 1rem 0;
  padding: 0 0 0 1rem;
}

/*  ---------paragraph text----------------------- */
p,
span {
  font-family: @font-familyL;
  font-size     : 1rem;
  line-height   : 1.5;
  letter-spacing: 0.12em;
  word-spacing  : 0.16em;
  margin-bottom : @content-padding;
}

/*  ---------links----------------------- */
.card-link,
a {
  color: @color-orange;
  font-size: 18px;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all  0.25s linear;
  -o-transition: all  0.25s linear;
  transition: all  0.25s linear;
}

.card-link:hover,
a:hover {
  color: @color-blue;
}

/*  ---------hero title: text on fullwidth image----------------------- */
.hero-title {
  .flex(@direction:column, @justify: center, @content: center, @align: center, @wrap: wrap);
 font-size: 1.4rem;
 font-family: @font-familyL;
 font-weight: 400;
 line-height: 1.4;
 margin-top: 1rem;
 width: calc(100% - 4rem);
 max-width: 25rem;
 min-height: 175px;
 padding: 2rem;
 margin-bottom: 4rem;
 margin-top: 4rem;
 background-color: #f2f7f9;
}

/*  ---------title between sections on a page ----------------------- */
.section-title {
  margin: 4rem 0 4rem 0;
  text-align: center;
  width: 100%;
  font-family: @font-familyL;
  font-size: 4rem;
  font-weight: 700;
}
