ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.UserOutput {
    display: flex;
    border: 1px solid #C8CCD4;
    border-collapse: collapse;
    min-height: 50vh;
}

.UserOutput ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  
}

.UserOutput li {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0.7em;
    height: 2em;
    border-bottom: 1px solid #C8CCD4;
    cursor: pointer;
    transition: all .15s ease;
}

.UserOutput li:hover {
  background-color: lightpink;
}



.UserOutput span {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-align:center;
    line-height:2em;
    height:2em;
    font-size:12px;
    text-align: left;
    width:80px;
}

.UserOutput span:nth-child(2) {
    min-width:300px;
    text-align: left;
}

.UserOutput span:nth-child(3) {
    padding-right: 0;
}

.description {
    display: flex;
    justify-content: center;
    align-content: center;

    text-align: left;
    padding:  1em;
    width: 50%;
    border-left: 1px solid #C8CCD4;
    border-collapse: collapse;
}