/* -------------------------------------- */
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.UserOutput {
  display: flex;
  flex-direction: column;
  border: 1px solid #C8CCD4;
  border-collapse: collapse;
  min-height: 50vh;
  transition: ´all .15s ease´;
}
@media screen and (min-width: 830px) {
  .UserOutput {
    flex-direction: row;
  }
}
.Output {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: ´all .15s ease´;
}
@media screen and (min-width: 767px) {
  .Output {
    width: 50%;
    min-height: 400px;
  }
}
.UserOutput li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0.7em;
  height: 3em;
  border-bottom: 1px solid #C8CCD4;
  cursor: pointer;
  transition: ´all .15s ease´;
}
.UserOutput li:hover {
  background-color: #ffbbaaee;
}
.UserOutput span {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  line-height: 2em;
  height: 2em;
  text-align: left;
}
.UserOutput span:nth-child(2) {
  width: 60%;
  text-align: left;
  overflow: hidden;
  transition: ´all .15s ease´;
}
@media screen and (min-width: 767px) {
  .UserOutput span:nth-child(2) {
    min-width: 62px;
  }
}
.UserOutput span:nth-child(3) {
  padding-right: 0;
}
.description {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left;
  padding: 1em;
  border: 1px solid transparent;
  border-collapse: collapse;
  transition: ´all .15s ease´;
}
@media screen and (min-width: 767px) {
  .description {
    width: 50%;
    border: 1px solid #C8CCD4;
  }
}
.description h2 {
  margin: 0;
  margin-bottom: 0.5em;
}
.h1 {
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif;
  color: #28405D;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
}
h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #404040;
}
.description p {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  margin-bottom: 1em;
}
.loading-text {
  color: #ec008c;
  text-transform: uppercase;
  margin: auto 0;
  padding: 1rem 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
}
