ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.UserOutput {
    display: flex;
    border: 2px solid #C8CCD4;
    border-collapse: collapse;
}

.UserOutput ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    min-width: 50%;
}

.UserOutput li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em 0;

    width: 100%;
    height: 2em;
    border-bottom: 2px solid #C8CCD4;
}

.UserOutput li:last-child {
    border-bottom: 2px solid transparent;
}

.UserOutput span {
    padding-right: 2em;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-align:center;
    line-height:2em;
    height:2em;
    font-size:12px;
}

.UserOutput span:nth-child(2) {
    width: 60%;
    text-align: left;
}

.UserOutput span:nth-child(3) {
    padding-right: 0;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding:  1em;
    width: 50%;
    border-left: 2px solid #C8CCD4;
    border-collapse: collapse;
}