@import "../../styles/base";
@import "../../styles/variables";
@import "../../styles/typography";
@import "../../styles/mixins";

.banner {
  .flex(@direction:column, @justify: flex-start, @content: flex-start, @align: flex-start, @wrap: wrap);
  padding: 1rem;

  ul {
    .flex(@direction:row, @justify: flex-start, @content: flex-start, @align: flex-start, @wrap: wrap);
    padding: 1rem;
  }

  li {
    font-size: 20px;
    padding: 1rem;
  }
}

.news-section {
  width: 100%;
}